<DOCTYPE html>
    <html lang="en">

    <head>
        <title>Register</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    </head>

    <!-- Circuitry image courtesy of Pixabay, found on Pexels.com -->
    <body style="background-image: url('../images/circuitry2.jpg'); background-size: cover;">
        <div class="menu-box">
            <div class="menu-item">
                <div class="logo-box">
                    <!-- IMG file by me from a 3D render of a PCB I designed -->
                    <img class="logo" src="../images/logo.PNG" alt="Logo" width="100" height="100">
                    <span style="font-weight: 500; font-size: 36;">ThingTronics</span>
                </div>
            </div>
            <div class="menu-item">
                <nav id="nav">
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="./register.html">Register</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="form-container" style="width: 500px; height: 260px; margin: 15px auto;">
            <form id="reg-form">
                <div id="text-big"><strong>Register</strong><div>
                <input class="input" type="text" name="reg_name" placeholder="Full Name" required />
                <input class="input" type="email" name="reg_email" placeholder="Email" required />
                <button class="button" name="submit" type="register_send">Send Me Ads!</button>
            </form>
        </div>
        <script type="text/javascript" src="scripts/scripts.js"></script>
    </body>

    </html>
</DOCTYPE>